<html>
{% if lightmode %}
    <body style="background-color: white;color: black; text-align: center;">
{% else %}
    <body style="background-color: black;color: white; text-align: center;">
{% endif %}
<br>

    {% if inprogress %}
    <p>There is a job currently in progress:&emsp; 
    <a href='/training'>
        <button>Monitor</button>
    </a></p>
    {% endif %}

    <form action="/home" method="post">
        
        <p>Model Name:</p>
        <p><input type="text" name="name" value="model" /></p>

        <p>Desired Dataset:</p>
        {% for dataset in datasets %}
            <input type="radio" name="dataset" value={{ dataset }} checked>
            <label for={{ dataset }}>{{ dataset }}</label><br>
        {% endfor %}

        <p>Model to Retrain:</p>
        {% for pretrainedmodel in pretrainedmodels %}
            <input type="radio" name="pretrainedmodel" value={{ pretrainedmodel }} checked>
            <label for={{ pretrainedmodel }}>{{ pretrainedmodel }}</label><br>
        {% endfor %}

        <p>Training Steps:</p>
        <p><input type="number" name="train_steps" value="50" /></p>

        <p>Batch Size:</p>
        <p><input type="number" name="batch_size" value="32" /></p>

        <p>Steps before periodic evaluation:</p>
        <p><input type="number" name="eval_period" value="100" /></p>

        <p><input type="checkbox" name="tboard" checked>
        <label for="tboard">Start Tensorboard</label></p>
        
        <p><input type="submit" value="go" /></p>
        </form>

        <br><br>

        <form action="/home" method="post">
            <button type="submit" name="switchcolor" value="switchcolor">
                Toggle Color Theme
            </button>
        </form>

</body>
</html>